.home {
    min-height: 100vh;
    padding-top: calc(var(--navbar-height) + 5vh);
    padding-bottom: 5vh;
    background: var(--background-color);
    background-position: right;
    background-size: cover;
    border: 2px solid var(--primary-color);
    overflow-y: none;

    .home-wrapper {
        height: 80vh;
        width: 80vw;
        display: flex;
        gap: 12px;

        @media screen and (max-height: 720px) {
            flex-direction: column;
            height: auto;
            width: 90vw;
        }

        @media screen and (max-width: 912px) {
            flex-direction: column;
            width: 90vw;
            height: auto;
        }

        @media screen and (min-width: 768px) and (orientation: portrait) {
            flex-direction: column;
            width: 90vw;
            height: auto;
        }
    }
}
