.primary-border {
    height: 2px;
    margin: 0;
    border: 0;
    background: var(--primary-color);
}

.secondary-border {
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
}

.background-gradient {
    background: var(--background-color);
    background: -webkit-linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}

.background-gradient-reverse {
    background: var(--background-color);
    background: -webkit-linear-gradient(45deg, var(--background2-color), var(--background-color));
    background: linear-gradient(45deg, var(--background2-color), var(--background-color));
}

.error {
    margin: -16px 0 8px 0;
    color: var(--error-color);
    font-family: "Open Sans";
    text-align: center;
}
