.auctions-wrapper {
  min-height: 100vh;
  padding-top: calc(var(--navbar-height) + 5vh);
  padding-bottom: 5vh;
  overflow-y: none;
  background: var(--background-color);
  background-position: right;
  background-size: cover;

  .auctions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
  }
}
