.asset-card {
  width: 300px;
  height: auto;
  padding: 24px;
  color: var(--black-color);
  background-color: var(--background2-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow:
    0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%);

  &__metadata-image {
    width: 200px;
  }

  &__metadata-attributes {
    margin-top: 16px;
  }

  &__metadata-attributes-list {
    gap: 8px;
  }

  p {
    margin: 8px 0 8px;
  }
}
