.burger-menu {
    @media screen and (min-width: 1080px) {
        display: none;
    }

    svg {
        font-size: 24px;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        top: var(--navbar-height);
        left: 0;
        width: 100%;
        border-right: 2px solid var(--primary2-color);
        overflow: hidden;
    }
}
