.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--white-color);
    background: var(--secondary3-color);
    border: 2px solid var(--black-color);
    border-radius: 0.75rem;
    box-shadow: 0 8px 0 var(--black-color);
    transform: skew(-5deg);
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:active {
        letter-spacing: 1px;
        transform: skew(-10deg) translateY(8px);
        box-shadow: 0 0 0 var(--black-color);
    }

    &:hover {
        background: var(--primary-color);
    }
}
