@use "styles/breakpoints.scss" as *;

//////////////////////////////////////////////
/// Mixin for Navbar and Burger Menu Links ///
//////////////////////////////////////////////

@mixin nav-link-base {
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;

    // ----- Image & Text ----- //

    svg {
        color: var(--white-color);
        font-size: 24px;
        transition: color 0.3s;

        @media screen and (min-width: $xl) {
            font-size: 28px;
        }
    }

    span {
        transition: color 0.3s ease;
    }

    // ----- States ----- //

    &:hover {
        span,
        svg {
            color: var(--primary-color);
        }
    }

    &.disabled {
        cursor: not-allowed;

        svg {
            color: var(--gray-color);
        }
        span {
            color: var(--gray-color);
        }

        &:hover {
            span,
            svg {
                color: var(--gray-color);
            }
        }
    }
}

////////////////////////////////////////////////
/// Shared Styles for Navbar and Burger Menu ///
////////////////////////////////////////////////

.navbar-links,
.burger-menu-links {
    white-space: nowrap;
}

////////////////////////////////////////////////
/// Navbar Links Styles                      ///
////////////////////////////////////////////////

.navbar-links {
    height: 100%;
    display: none;

    @media screen and (min-width: $md) {
        display: flex;
        flex: 1;
        gap: 1vw;
    }

    // ----- NavBar Link ----- //

    .navbar-link {
        @include nav-link-base;
        height: 100%;
        width: 60px;
        gap: 6px;
        font-size: 14px;

        @media screen and (min-width: $xl) {
            font-size: 16px;
        }

        span {
            height: 16px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.1s, opacity 0.3s ease, height 0.3s ease;
        }

        &:hover {
            span {
                height: 20px;
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity 0.3s ease, height 0.3s ease;
            }
        }

        &.is-active {
            svg {
                color: var(--primary-color);
            }

            span {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

// ----- BurgeMenu Link ----- //

.burger-menu-links {
    width: 100%;
    gap: 16px;
    font-size: 24px;

    @media screen and (min-width: $md) {
        display: none !important;
    }

    .burger-menu-link {
        @include nav-link-base;

        gap: 12px;
        padding: 0 12px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
