@use 'styles/breakpoints.scss' as *;

////////////////////////////////////////////////
/// User Section Styles                      ///
////////////////////////////////////////////////

.user-section {
  height: 100%;

  // ----- Divider ----- //

  hr {
    display: none;

    @media screen and (min-width: $md) {
      display: block;
      width: 0.5px;
      height: 100%;
      margin-right: 24px;
      background: var(--background3-color);
      border: none;
      opacity: 0.6;
    }
  }

  // ----- Username ----- //

  &__name {
    display: none;

    @media screen and (min-width: $sm) {
      display: block;
      margin-right: 8px;
      font-size: 14px;
      font-weight: 500;
      color: var(--white-color);
    }

    @media screen and (min-width: $lg) {
      font-size: 16px;
    }

    @media screen and (min-width: $xl) {
      font-size: 18px;
    }
  }
}
