////////////////////////////////////////
/// Containers                       ///
////////////////////////////////////////

@use 'styles/breakpoints.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: var(--navbar-height-sm) var(--page-gutter-x) 5vh var(--page-gutter-x);
  overflow: hidden auto;
  background: var(--background-color);
  background-position: right;
  background-size: cover;

  @media screen and (min-width: $sm) {
    padding-top: var(--navbar-height-md);
  }

  @media screen and (min-width: $lg) {
    padding-top: var(--navbar-height-lg);
  }
}
