////////////////////////////////////////
/// Containers                       ///
////////////////////////////////////////

@use 'styles/breakpoints.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: var(--navbar-height-sm) var(--page-gutter-x) 5vh var(--page-gutter-x);
  overflow: hidden auto;
  background: var(--background-color);
  background-position: right;
  background-size: cover;

  @media screen and (min-width: $sm) {
    padding-top: var(--navbar-height-md);
  }

  @media screen and (min-width: $lg) {
    padding-top: var(--navbar-height-lg);
  }
}

.message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  padding: 24px;
  color: var(--black-color);
  background-color: var(--background2-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow:
    0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%);
  transform: translate(-50%, -50%);
}
