///////////////////////////////////////////
/// Fonts                               ///
///////////////////////////////////////////
/// Bangers                             ///
/// Lilita One                          ///
/// Luckiest Guy                        ///
/// Tilt Warp                           ///
///////////////////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lilita+One&family=Luckiest+Guy&family=Tilt+Warp&display=swap");

///////////////////////////////////////////
/// Root                                ///
///////////////////////////////////////////

:root {
    // Colors
    --primary-color: rgb(196, 45, 196);
    --primary2-color: rgb(175, 35, 175);
    --primary3-color: rgb(255, 0, 255);

    --secondary-color: rgb(32, 172, 214);
    --secondary2-color: rgb(25, 160, 201);
    --secondary3-color: rgb(61, 209, 231);

    --background-color: rgb(212, 191, 29);
    --background2-color: rgb(230, 182, 9);
    --background3-color: rgb(255, 230, 0);

    --error-color: rgb(158, 14, 36);

    --black-color: rgb(36, 36, 36);
    --gray-color: rgb(162, 162, 165);
    --white-color: rgb(243, 244, 248);

    // Sizes
    --navbar-height-sm: 56px;
    --navbar-height-md: 72px;
    --navbar-height-lg: 80px;

    --footer-height: 80px;

    // Fonts
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/////////////////////////////////////////////
/// Universal                             ///
/////////////////////////////////////////////

*,
*::before,
*::after {
    box-sizing: border-box;
}

//////////////////////////////////////////////
/// Global Styles                          ///
//////////////////////////////////////////////

// Containers
html,
body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    background-color: var(--background-color);
    color: var(--white-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--background2-color) var(--background-color);
}

// Text
h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
}

p,
span {
    text-shadow: 1px 1px 1px var(--black-color), -1px -1px 1px var(--black-color),
        1px -1px 1px var(--black-color), -1px 1px 1px var(--black-color);
    font-family: "Tilt Warp", sans-serif;
}

h1,
h2,
h3 {
    text-shadow: 1px 1px 1px var(--black-color), -1px -1px 1px var(--black-color),
        -1px 1px 1px var(--black-color), 1px -1px 1px var(--black-color),
        2px 2px 2px var(--black-color), -2px -2px 2px var(--black-color),
        -2px 2px 2px var(--black-color), 2px -2px 2px var(--black-color);
}

//////////////////////////////////////////
/// Scrollbar Styles                   ///
//////////////////////////////////////////

// Scrollbar
::-webkit-scrollbar {
    width: 12px;

    @media screen and (max-width: 768px) {
        width: 10px;
    }
}

// Track
::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

// Thumb
::-webkit-scrollbar-thumb {
    background: var(--background2-color);
    background-clip: padding-box;
    border: 1.5px solid var(--primary2-color);
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

// Thumb hover
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
