///////////////////////////////////////////
/// Root                                ///
///////////////////////////////////////////

:root {
  // Colors
  --primary-color: rgb(196 45 196);
  --primary2-color: rgb(175 35 175);
  --primary3-color: rgb(255 0 255);
  --secondary-color: rgb(32 172 214);
  --secondary2-color: rgb(25 160 201);
  --secondary3-color: rgb(61 209 231);
  --background-color: rgb(212 191 29);
  --background2-color: rgb(230 182 9);
  --background3-color: rgb(255 230 0);
  --text-color: rgb(246 246 246);
  --error-color: rgb(158 14 36);
  --black-color: rgb(16 16 16);
  --dark-gray-color: rgb(100 100 100);
  --gray-color: rgb(160 160 160);
  --light-gray-color: rgb(220 220 220);
  --white-color: rgb(246 246 246);

  // Sizes
  --navbar-height-sm: 56px;
  --navbar-height-md: 72px;
  --navbar-height-lg: 80px;
  --page-gutter-x: 2vw;

  // Fonts
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/////////////////////////////////////////////
/// Color Scheme                          ///
/////////////////////////////////////////////

// Explicit Light Theme Rule (Overrides OS dark setting)
.light-theme {
  --primary-color: rgb(196 45 196);
  --primary2-color: rgb(175 35 175);
  --primary3-color: rgb(255 0 255);
  --secondary-color: rgb(32 172 214);
  --secondary2-color: rgb(25 160 201);
  --secondary3-color: rgb(61 209 231);
  --background-color: rgb(212 191 29);
  --background2-color: rgb(230 182 9);
  --background3-color: rgb(255 230 0);
  --text-color: rgb(246 246 246);
  --error-color: rgb(158 14 36);
  --black-color: rgb(16 16 16);
  --dark-gray-color: rgb(100 100 100);
  --gray-color: rgb(160 160 160);
  --light-gray-color: rgb(220 220 220);
  --white-color: rgb(246 246 246);
  --always-black-color: rgb(16 16 16);
  --always-white-color: rgb(246 246 246);
}

// Mixin for Dark Theme Variables
@mixin dark-theme-variables {
  --primary-color: rgb(196 45 196);
  --primary2-color: rgb(175 35 175);
  --primary3-color: rgb(255 0 255);
  --secondary-color: rgb(32 172 214);
  --secondary2-color: rgb(25 160 201);
  --secondary3-color: rgb(61 209 231);
  --text-color: rgb(246 246 246);
  --error-color: rgb(158 14 36);
  --background-color: rgb(24 24 24);
  --background2-color: rgb(22 20 11);
  --background3-color: rgb(63 63 63);
  --black-color: rgb(246 246 246);
  --dark-gray-color: rgb(220 220 220);
  --gray-color: rgb(160 160 160);
  --light-gray-color: rgb(100 100 100);
  --white-color: rgb(16 16 16);
  --always-black-color: rgb(16 16 16);
  --always-white-color: rgb(246 246 246);
}

// Apply Dark Theme Variables if OS is set to dark mode
@media (prefers-color-scheme: dark) {
  :root:not(.light-theme) {
    @include dark-theme-variables;
  }
}

// Explicit Dark Theme Rule (Overrides OS light setting)
.dark-theme {
  @include dark-theme-variables;
}

/////////////////////////////////////////////
/// Universal                             ///
/////////////////////////////////////////////

*,
*::before,
*::after {
  box-sizing: border-box;
}

//////////////////////////////////////////////
/// Global Styles                          ///
//////////////////////////////////////////////

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  scrollbar-color: var(--background2-color) var(--background-color);
  scrollbar-width: thin;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh; // Make the layout container fill the viewport height
}

//////////////////////////////////////////
/// Scrollbar Styles                   ///
//////////////////////////////////////////

// Scrollbar
::-webkit-scrollbar {
  width: 12px;

  @media screen and (width <= 768px) {
    width: 10px;
  }
}

// Track
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

// Thumb
::-webkit-scrollbar-thumb {
  background: var(--background2-color);
  background-clip: padding-box;
  border: 1.5px solid var(--primary2-color);
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

// Thumb hover
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
