///////////////////////////////////////////
/// Border Styles                       ///
///////////////////////////////////////////

$border-colors: (
  'primary': var(--primary-color),
  'primary2': var(--primary2-color),
  'primary3': var(--primary3-color),
  'secondary': var(--secondary-color),
  'secondary2': var(--secondary2-color),
  'secondary3': var(--secondary3-color),
  'background': var(--background-color),
  'background2': var(--background2-color),
  'background3': var(--background3-color),
  'black': var(--black-color),
);

@mixin theme-border($width: 2px, $style: solid, $radius: 4px) {
  border-width: $width;
  border-style: $style;
  border-radius: $radius;
}

@each $name, $color in $border-colors {
  .#{$name}-border {
    border-color: $color;
    @include theme-border;
  }
}

///////////////////////////////////////////////
/// Background Styles                       ///
///////////////////////////////////////////////

.background {
  background-color: var(--background-color);
}

.background2 {
  background-color: var(--background2-color);
}

.background3 {
  background-color: var(--background3-color);
}

.background-gradient {
  background: var(--background-color);
  background: -webkit-linear-gradient(45deg, var(--background-color), var(--background2-color));
  background: linear-gradient(45deg, var(--background-color), var(--background2-color));
}

.secondary-gradient {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(45deg, var(--secondary-color), var(--primary-color));
  background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}

.primary-gradient {
  background: var(--primary-color);
  background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

///////////////////////////////////////////////
/// Text Styles                             ///
///////////////////////////////////////////////

.bangers {
  font-family: 'Bangers', sans-serif;
}

.lilita-one {
  font-family: 'Lilita One', sans-serif;
}

.luckiest-guy {
  font-family: 'Luckiest Guy', sans-serif;
}

.tilt-warp {
  font-family: 'Tilt Warp', sans-serif;
}

.text-shadow {
  text-shadow:
    1px 1px 2px var(--black-color),
    0 0 25px var(--black-color),
    0 0 5px var(--black-color),
    0 0 10px var(--black-color);
}

.error {
  color: var(--error-color);
  font-family: 'Tilt Warp', sans-serif;
  text-align: center;
}
