.primary-border {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.secondary-border {
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
}

.black-border {
    border: 2px solid var(--black-color);
    border-radius: 4px;
}

.background-gradient {
    background: var(--secondary-color);
    background: -webkit-linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}

.background-gradient-reverse {
    background: var(--primary-color);
    background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

.error {
    margin: -16px 0 8px 0;
    color: var(--error-color);
    font-family: "Open Sans";
    text-align: center;
}
