.avatar-menu {
    position: absolute;
    top: 90px;
    right: 2px;
    gap: 8px;
    padding: 12px;

    .avatar-menu-link {
        gap: 8px;
    }

    a {
        letter-spacing: 1px;
        color: var(--white-color);
    }

    a:hover {
        color: var(--secondary3-color);
    }
}
