.account {
  position: relative;
  flex: 1;
  padding: 24px;
  margin: 12px 0;

  .edit {
    position: absolute;
    top: 24px;
    left: 24px;
    background: none;
    border: none;

    .react-icons {
      box-sizing: content-box;
      padding: 4px;
      font-size: 24px;
      color: var(--black-color);
      cursor: pointer;
      background-color: var(--background-color);
      border: 1px solid var(--black-color);
      border-radius: 4px;
    }
  }

  .wrapper {
    gap: 16px;
    width: 100%;

    .section {
      width: 100%;
      font-size: 18px;

      span {
        gap: 10px;
      }
    }
  }
}
