@use 'styles/breakpoints.scss' as *;

///////////////////////////////////////////////
/// User Menu Styles                        ///
/// ///////////////////////////////////////////

.user-menu {
  position: absolute;
  top: 58px;
  right: 2px;
  z-index: 99;
  padding: 12px;

  @media screen and (min-width: $sm) {
    top: 74px;
  }

  @media screen and (min-width: $lg) {
    top: 84px;
  }

  // ----- Link ----- //

  &__link {
    color: var(--white-color);
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
  }

  &__link:hover {
    color: var(--secondary3-color);
  }

  &__toggle {
    gap: 8px;

    // stylelint-disable-next-line selector-class-pattern
    .MuiSwitch-root {
      // stylelint-disable-next-line selector-class-pattern
      & .MuiSwitch-track {
        // Target track within the switch
        background-color: var(--primary-color);
      }

      // stylelint-disable-next-line selector-class-pattern
      & .MuiSwitch-thumb {
        // Target thumb within the switch
        background-color: var(--white-color);
      }
    }
  }
}
