.text-input {
    position: relative;
    margin: 20px 5px;
    font-family: "Tilt Warp";

    .input {
        width: 100%;
        padding: 7px 14px;
        background: var(--white-color);
        border: 2px solid var(--secondary2-color);
        border-radius: 4px;
        color: var(--black-color);
        font-size: 20px;
        font-weight: 500;
        transition: 0.4s;

        @media screen and (max-width: 400px) {
            padding: 7px;
            font-size: 14px;
        }
    }

    :focus {
        outline: none;
        border-color: var(--primary-color);
    }

    .input ~ label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 100%;
        color: var(--gray-color);
        transition: 0.3s;
        pointer-events: none;

        @media screen and (max-width: 400px) {
            left: 8px;
            font-size: 10px;
        }
    }

    .input:focus ~ label,
    .has-content ~ label {
        top: -12px;
        left: 0;
        font-size: 14px;
        color: var(--black-color);
        transition: 0.3s;

        @media screen and (max-width: 400px) {
            font-size: 10px;
        }
    }
}
