.navbar {
    z-index: 9997;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--navbar-height);
    padding: 6px 18px;
    border-bottom: 2px solid var(--black-color);
    box-sizing: border-box;

    &__logo {
        width: 64px;
        height: 64px;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        margin-right: 24px;
        cursor: pointer;

        &.disabled {
            pointer-events: none;
        }
    }

    .button {
        font-size: 24px;
        font-weight: 600;
    }

    @media screen and (max-width: 1079px) {
        padding: 6px;
    }
}
